body{
    margin: 20px;
}
.chat {
    background-color: aliceblue;
    border-radius: 16px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
}

.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
